.button {
  border: none;
  border-radius: none;
  background-color: white;
  color: #379df5;
  font-weight: 500;
  padding-top: 11px;
  padding-bottom: 11px;

  &:hover {
    color: white;
    background-color: #13314b;
    transition: all 0.3s ease-in;
  }
}

.color {
  color: #13304a;
}

.img {
  overflow: hidden;
  object-fit: cover;
}
