@import "../../node_modules/bootstrap/scss/bootstrap";

.primaryColor {
  color: #379cf4;
}

.mainColor {
  color: #13304a;
}

.paraColor {
  color: #53626f;
}

.whiteColor {
  color: whitesmoke;
}

.pureWhite {
  color: white;
}

.customButton {
  color: whitesmoke;
  background-color: #379cf4;
  border-color: #379cf4;
  transition: all 0.4s ease-out;

  &:hover {
    color: whitesmoke;
    transform: scale(0.95);
    transition: all 0.2s ease-in;
    background-color: #2975b7;
    border-color: #2975b7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.customOutlineButton {
  color: #379cf4;
  background-color: white;
  border-color: #379cf4;
  transition: all 0.4s ease-out;

  &:hover {
    color: whitesmoke;
    color: #379cf4;
    transform: scale(0.95);
    transition: all 0.2s ease-in;
    background-color: white;
    border-color: #2975b7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.link {
  text-decoration: none;
}

.pageLi {
  cursor: pointer;
}

.navLi {
  color: #444444;
}

.liStyleRm {
  list-style: none;
}

.shelterButton {
  border: none;
  border-radius: none;
  background-color: white;
  color: #379df5;
  font-weight: 500;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 2px;

  &:hover {
    color: white;
    background-color: #13314b;
    transition: all 0.3s ease-in;
  }
}

.iconLg {
  color: #379cf4;
  font-size: 46px;
}

//teamCard
.teamImg {
  object-fit: cover;
}


