// Google Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

// font variable
$Montserrat-font: "Montserrat";

* {
  margin: 0;
  padding: 0;
  font-family: $Montserrat-font;
}

.primaryColor {
  color: #379cf4;
}

.mainColor {
  color: #13304a;
}

.paraColor {
  color: #53626f;
}

.whiteColor {
  color: whitesmoke;
}

.pureWhite {
  color: white;
}

// .customButton {
//   color: whitesmoke;
//   background-color: #379cf4;
//   border-color: #379cf4;
//   transition: all 0.4s ease-out;

//   &:hover {
//     color: whitesmoke;
//     transform: scale(0.95);
//     transition: all 0.2s ease-in;
//     background-color: #2975b7;
//     border-color: #2975b7;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//   }
// }

.loki {
  background-color: red;
}

.link {
  text-decoration: none;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
.pageLi {
  cursor: pointer;
}

.navLi {
  color: #444444;
}

.liStyleRm {
  list-style: none;
}

.shelterButton {
  border: none;
  border-radius: none;
  background-color: white;
  color: #379df5;
  font-weight: 500;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 2px;

  &:hover {
    color: white;
    background-color: #13314b;
    transition: all 0.3s ease-in;
  }
}

.iconLg {
  color: #379cf4;
  font-size: 46px;
}

//teamCard
.teamImg {
  object-fit: cover;
}

.navColor {
  all: unset;
  color: #444444;
}
.custom_pointer {
  cursor: pointer;
}






.navbar-toggler {
  /* padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x); */
  font-size: var(--bs-navbar-toggler-font-size);
  /* line-height: 1; */
  /* color: var(--bs-navbar-color); */
  background-color: transparent;
  /* border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color); */
  /* border-radius: var(--bs-navbar-toggler-border-radius); */
  transition: var(--bs-navbar-toggler-transition);
}