@import "../../node_modules/bootstrap/scss/bootstrap";

.primaryColor {
  color: #379cf4;
}

.mainColor {
  color: #13304a;
}

.paraColor {
  color: #53626f;
}

.whiteColor {
  color: whitesmoke;
}

.pureWhite {
  color: white;
}

.customButton {
  color: whitesmoke;
  background-color: #379cf4;
  border-color: #379cf4;
  transition: all 0.4s ease-out;

  &:hover {
    color: whitesmoke;
    transform: scale(0.95);
    transition: all 0.2s ease-in;
    background-color: #2975b7;
    border-color: #2975b7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.customOutlineButton {
  color: #379cf4;
  background-color: white;
  border-color: #379cf4;
  transition: all 0.4s ease-out;

  &:hover {
    color: whitesmoke;
    color: #379cf4;
    transform: scale(0.95);
    transition: all 0.2s ease-in;
    background-color: white;
    border-color: #2975b7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.link {
  text-decoration: none;
}

.pageLi {
  cursor: pointer;
}

.navLi {
  color: #444444;
}
//////////////////////////////////////

.sButton {
  font-size: 18px;
  background-color: #369df4;
  border-color: #369df4;

  &:hover {
    background-color: #369df4;
    border-color: #369df4;
    box-shadow: rgba($black, 0.075);
    box-shadow: -1px 8px 10px 4px rgba(54, 157, 244, 0.16);
    -webkit-box-shadow: -1px 8px 10px 4px rgba(54, 157, 244, 0.16);
    -moz-box-shadow: -1px 8px 10px 4px rgba(54, 157, 244, 0.16);
  }
}

//Button
.myButton {
  background-color: #369df4;
  color: whitesmoke;
  border: none;
  border-radius: none;
  border-radius: 2px;
  font-weight: 500;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
    background-color: #369df4;
    color: whitesmoke;
    border: none;
    font-weight: 500;
    box-shadow: 0px 0px 3px 1px rgba(55, 157, 245, 0.79);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(55, 157, 245, 0.79);
    -moz-box-shadow: 0px 0px 3px 1px rgba(55, 157, 245, 0.79);
  }
}

// .loki {
//   .hTitle {
//     color: #13304a;
//     transition: all 0.3s ease-in;
//   }

//   .hPara {
//     color: #53626f;
//   }

//   &:hover {
//     .hTitle {
//       transform: scale(1.2);
//       transition: all 0.3s ease-in-out;
//       color: #369df4;
//     }
//     .hPara {
//       color: #53626f;
//     }
//   }
// }
