.formBody {
    
    .contactForm {
        
        .title {
            margin-bottom: 30px;

            .block {
                color: #379cf4;
                height: 15px;
                width: 15px;
                display: block;
            }
    
            h4 {
                font-weight: 900;
                margin-bottom: 20px;
                color: #13304a;
            }
        }
    }

    .contactInfo {

        .infoTitle {
            margin-bottom: 30px;

            h4 {
                font-weight: 900;
                margin-bottom: 20px;
                color: #13304a;
            }
        }

        .info {

            .infoText {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }

            .myButton {
                padding: 5px 15px;
                outline: none;
                border: 1.5px solid #379cf4;
                background-color: white;
            }
        }
    }
}
