.carasoule {
    .image {
        height: 150px;
        width: 195px;

        @media (max-width: 1400px) {
            height: 135px;
            width: 165px;
        }

        @media (max-width: 1200px) {
            height: 100px;
            width: 200px;
        }

        @media (max-width: 990px) {
            height: 100px;
            width: 150px;
        }

        @media (max-width: 800px) {
            height: 130px;
            width: 235px;
        }

        @media (max-width: 600px) {
            height: 150px;
            width: 100%;
        }
       
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}