.hero {
    position: relative;
    
    .text {
        margin: 100px 0;
        color: rgb(241, 241, 241);
        // position: relative;

        .heading {
            font-weight: 900;
            margin-bottom: 24px;
        }
       
    }
}