.bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("../../../public/images/price.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
