.shelter {
  background-image: linear-gradient(rgba(15, 23, 54, 0.7), rgba(4, 9, 30, 0.7)),
    url("../../../public/images/food.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.customButton {
  color: whitesmoke;
  background-color: #379cf4;
  border-color: #379cf4;
  transition: all 0.4s ease-out;

  &:hover {
    color: whitesmoke;
    transform: scale(0.95);
    transition: all 0.2s ease-in;
    background-color: #2975b7;
    border-color: #2975b7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
