.personImg {
  object-fit: cover;
}

.socialIcon {
  background-color: red;
  color: red;
  font-size: 90px;
}

.centerImg {
  background-image: linear-gradient(
      rgba(96, 105, 136, 0.7),
      rgba(4, 9, 30, 0.7)
    ),
    url("../../../public/images/trek.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.title {
  color: white;
}

.data {
  color: white;
}
