//page
.pageBg {
  background-image: url("../../../public/images/teamImg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

//serviceSection
.serviceContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}
