// TeamMemberCard
.wrapper {
  padding-top: 90px;
  padding-bottom: 100px;

  .card {
    border: none;
  }
}

// TeamContactusCard
.contactusWrapper {
  z-index: 1;
}

//TeamServiceSection
.serviceWrapper {
  background-color: #eef2f6;
}

.serviceIcon {
  font-size: 50px;
  cursor: pointer;
  color: #369df4;
}
