.topService {
  background-color: #fefeff;
  padding: 120px 0px;
}

.headingDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxIcon {
  color: red;
  font-size: 50px;
}

.boxH {
  color: #13304a;
  font-size: 16px;
}

.boxP {
  color: #53626f;
  font-size: 8px;
}

.borderLeft {
  background-color: white;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
  cursor: pointer;
}

.hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(0.9);
    transition: transform .2s;
  }
}

.borderTop {
  background-color: white;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  cursor: pointer;
}

.borderBottomRight {
  background-color: white;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  cursor: pointer;
}
.borderBottomRight {
  background-color: white;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  cursor: pointer;
}

.noBorder {
  background-color: white;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.boxIcon {
  color: #379cf4;
  font-size: 50px;
}

.boxH {
  color: #13304a;
  font-size: 16px;
}

.boxP {
  color: #53626f;
  font-size: 8px;
}
