//serviceSection
.serviceContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.serviceIcon {
  font-size: 50px;
  color: #369df4;
}

//Treks page Image Section
.pageWrapper {
  background-image: linear-gradient(
      rgba(96, 105, 136, 0.7),
      rgba(4, 9, 30, 0.7)
    ),
    url("../../../public/images/teamImg.jpg");
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
