.serviceWrapper {
  background-color: #eef2f6;
}

.serviceContainer {
  display: flex;
  align-items: center;
}

.serviceIcon {
  font-size: 50px;
  cursor: pointer;
  color: #369df4;
}

.para {
  color: rgb(83, 98, 111);
}
