:root {
  /* ========================= */
  --color-secondary: #ff9b44;
  --dark-color: #16181d;
  --dark-grey-color: #22262b;
  --leftbar-txt-color: #8b95a0;
  --primary-text-color: #bbc4cc;
  --secondary-text-color: #6d757c;
  --ternary-text-color: #7e7e80;
  --border-color: #2d3741;
  --primary-heading-color: #bac4cd;
  --secondary-heading-color: #7e7e80;
  --label-color: #7f8fa4;
  --text-muted: #8e8e8e;

  --color-edit-button: #ed6c02;

  /*===========================  */
}

/*==Loki==========================  */
.right_side_bg {
  background-color: var(--dark-grey-color);
}

/* primaryHeadingColor */
.phc {
  color: var(--primary-heading-color);
}

.customLabel {
  color: var(--label-color);
}

.txtMuted {
  color: var(--text-muted);
}

.customSecondaryColor {
  color: var(--color-secondary);
}

/*  */
.shc {
  color: var(--primary-heading-color);
}

.customInput {
  background-color: #2e3538;
  color: #bbc3c9;
  border-radius: 5px;
}

/* crusor pointer */
.cp {
  cursor: pointer;
}

.customBg {
  background-color: var(--dark-grey-color);
}

.customNavbar {
  background-color: var(--dark-color);
  border-bottom: 2px solid var(--border-color);
  color: var(--primary-text-color);
}

.customLeftBar {
  background-color: var(--dark-color);
  color: var(--leftbar-txt-color);
}

.customPrimaryTxtColor {
  color: var(--primary-text-color);
}

.customSecondaryTxtColor {
  color: var(--secondary-text-color);
}

.customTernaryTxtColor {
  color: var(--ternary-text-color);
}

.customCard {
  background-color: var(--dark-color);
  border: 1px solid var(--border-color);
  color: var(--primary-text-color);
}

.table_button {
  border: 1px solid var(--border-color);
  color: var(--primary-text-color);
  background-color: var(--dark-color);
}
.table_button:hover {
  background-color: var(--dark-color);
}
/* 
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 1px solid var(--color-secondary);
} */

.customProfileCard {
  background-color: var(--dark-color);
  border: 1px solid var(--border-color);
}

.mt-5 {
  margin-top: 50px;
}

/*=====================  */

.css-cveggr-MuiListItemIcon-root {
  color: #8b95a0 !important;
}

.myBtn {
  background-color: black;
  color: white;
  padding: 10px 18px;
  transition: 0.25s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.myBtn:hover {
  background-color: rgb(31, 31, 31);
}

.mySecondaryBtn {
  border: 1px solid black;
  padding: 5px 15px;
  transition: 0.25s;
}

.mySecondaryBtn:hover {
  background-color: black;
  color: white;
}

.ghostBtn {
  background-color: transparent;
  border: none;
  padding: 10px 0;
  text-align: center;
  color: #535253;
}

.ghostBtn:hover {
  text-decoration: underline;
}

.anchor {
  text-decoration: none;
}

.custom_card {
  background-color: var(--card-bg-color);
  border: 1px solid rgb(186, 199, 186);
}

/* disable select on grid table */
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none;
}

.custom_table_hover:hover {
  background-color: #2d3741;
}

/* =========================== */
.input_field_style {
  background-color: #2d3741 !important;
  color: #bbc4cc !important;
}

.input_field_style:focus {
  box-shadow: 0 0 0 0.035rem #688eb1 !important;
}

.overflow_hidden {
  overflow: hidden;
}

.left_navbar_icon {
  font-size: 22px;
}

.active_status_green_color {
  color: rgb(0, 128, 0);
  font-weight: 600;
}

.active_status_red_color {
  color: rgba(255, 0, 0, 0.63);
  font-weight: 600;
}

.edit_button_icon {
  color: var(--color-edit-button);
  font-size: 38px;
  cursor: pointer;
  padding: 5px;
  transition: all 200ms ease-in-out;
}

.edit_button_icon:hover {
  background-color: var(--dark-color);
  border-radius: 50px;
  padding: 5px;
}

.delete_button_icon {
  color: rgb(230, 41, 41);
  font-size: 38px;
  cursor: pointer;
  padding: 5px;
  transition: all 200ms ease-in-out;
}

.delete_button_icon:hover {
  background-color: var(--dark-color);
  border-radius: 50px;
  padding: 5px;
}

.arrow_back_div {
  cursor: pointer;
}

.arrow_back {
  color: var(--color-edit-button);
  padding: 5px;
  cursor: pointer;
  font-size: 38px;
  transition: all 200ms ease-in-out;
}

.arrow_back_div:hover .arrow_back {
  font-size: 38px;
  background-color: var(--dark-grey-color);
  border-radius: 50px;
  padding: 5px;
}

.h100 {
  height: 100vh;
}
.w100 {
  width: 100vw;
}

.register_span {
  cursor: pointer;
  color: rgba(66, 66, 245, 0.918);
  text-decoration: none !important;
}

.form_hook_error {
  color: rgba(223, 32, 32, 0.788);
  font-weight: 500;
  padding: 0px !important;
  margin: 0px !important;
  text-transform: capitalize;
}

.p_zero_first_cap {
  padding: 0px !important;
}

.p_zero_first_cap::first-letter {
  text-transform: capitalize;
}

/* input,
input::-webkit-input-placeholder {
  text-transform: capitalize;
} */

.h100 {
  height: 100vh;
}

.banner_table_image_div {
  position: relative;
  height: 40px;
  width: 80px;
}


/* <td>
<a className="d-flex " href={`${process.env.NEXT_PUBLIC_CLOUDINARY_URL_SECURE}${banner.image}`}>
  ​
  <div className="banner_table_image_div">
    <Image
      src={`${process.env.NEXT_PUBLIC_CLOUDINARY_URL_SECURE}${banner.image}`}
      quality={50}
      layout="fill"
      objectFit="cover"
      className="rounded-1"
      alt="myimage"
    />
  </div>
</a>
</td> */


.margin_minus{
  margin-top: -15px;
}


